.primary {
      width: 150px;
      height: 1px;
      background: #C396C6;
      margin: 0 auto;
}

@media screen and (min-width: 700px) {
      .primary {
            margin: 0;
      }
}

.secondary {
      width: 100%;
      height: 1px;
      background: #DADADA
}