.navbar {
      list-style-type: none;
      display: grid;
      grid-gap: 1.5rem;
      li {
            display: inline-block;
            a {
                  text-decoration: none;
                  color: white;
                  &:hover {
                        color: black;
                  }
            }
      }
}

@media screen and (min-width: 700px) {
.navbar {
      list-style-type: none;
      display: block;
      li {
            display: inline-block;
            margin: 0 1.5rem;
            a {
                  text-decoration: none;
                  color: #837D88;
                  &:hover {
                        color: #2C2830;
                  }
            }
      }
}     
}